<div ng-form="inputPasswordForm">
  <div class="caconfig-if-property-not-overridden-and-not-inherited-and-not-readonly caconfig-if-config-not-inherited">
    <input is="coral-textfield"
           type="password"
           ng-model="property.value" ng-trim="false"
           ng-required="{{property.metadata.properties.required && !property.overridden && !property.readOnly && !property.inherited}}"
           caconfig-validation="{{validation}}"
           name="passwordField"/>
    <div class="coral-Form-errorlabel" bindonce="i18n('validation.required')" ng-show="inputPasswordForm.passwordField.$error.required" bo-text="i18n('validation.required')"></div>
    <div class="coral-Form-errorlabel" bindonce="validationMessage" ng-show="inputPasswordForm.passwordField.$error.caconfigValidation || inputPasswordForm.passwordField.$pending.caconfigValidation" bo-text="validationMessage"></div>
  </div>
  <input is="coral-textfield" type="password" class="caconfig-if-property-not-overridden-and-not-inherited-and-not-readonly caconfig-if-config-inherited"
         ng-model="property.value"
         disabled readonly />
  <input is="coral-textfield" type="password" class="caconfig-if-property-overridden-or-inherited-or-readonly"
         ng-model="property.effectiveValue"
         disabled readonly />
</div>
