<div bindonce class="caconfig-tagbrowser">

  <foundation-autocomplete data-cq-msm-lockable="cq:tags" name="./cq:tags"
         class="caconfig-if-property-not-overridden-and-not-inherited caconfig-if-config-not-inherited"
         valuedisplaymode="block">
    <coral-overlay foundation-autocomplete-suggestion class="foundation-picker-buttonlist"></coral-overlay>
    <coral-taglist foundation-autocomplete-value name="./cq:tags">
    </coral-taglist>
  </foundation-autocomplete>


  <input is="coral-textfield" class="caconfig-if-property-not-overridden-and-not-inherited caconfig-if-config-inherited"
         ng-model="property.value"
         disabled readonly />

  <input is="coral-textfield" class="caconfig-if-property-overridden-or-inherited"
         ng-model="property.effectiveValue"
         disabled readonly />

</div>
