<div bindonce class="caconfig-tagbrowser">

  <foundation-autocomplete multiple class="caconfig-if-property-not-overridden-and-not-inherited-and-not-readonly caconfig-if-config-not-inherited"
         valuedisplaymode="block">
    <coral-overlay foundation-autocomplete-suggestion class="foundation-picker-buttonlist"></coral-overlay>
    <coral-taglist foundation-autocomplete-value>
    </coral-taglist>
  </foundation-autocomplete>


  <input is="coral-textfield" class="caconfig-if-property-not-overridden-and-not-inherited-and-not-readonly caconfig-if-config-inherited"
         ng-model="property.value"
         disabled readonly />

  <input is="coral-textfield" class="caconfig-if-property-overridden-or-inherited-or-readonly"
         ng-model="property.effectiveValue"
         disabled readonly />

</div>
